<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RosaDelsVents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE32BDCC1F559FE4000FC497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE32BDE31F559FE4000FC497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE32BDEE1F559FE5000FC497</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
